<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Address">
        <id column="orderid" property="orderid" />
        <result column="shppingnumber" property="shppingnumber" />
        <result column="aid" property="aid" />
        <result column="ostatus" property="ostatus" />
        <result column="pstatus" property="pstatus" />
        <result column="createTime" property="createtime" />
        <result column="method" property="method" />
        <result column="givetime" property="givetime" />
        <result column="address" property="address" />
        <result column="items" property="items" />
        <result column="number" property="number" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        orderid, shppingnumber, aid, ostatus, pstatus, createTime, method, givetime, address, items, number, amount
    </sql>

</mapper>

