<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.FenleioneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Fenleione">
        <result column="brand" property="brand" />
        <result column="provinces" property="provinces" />
        <result column="price" property="price" />
        <result column="one" property="one" />
        <result column="two" property="two" />
        <result column="pictures" property="pictures" />
        <result column="more" property="more" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        brand, provinces, price, one, two, pictures, more
    </sql>

</mapper>
