<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.ForumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Forum">
        <id column="fid" property="fid" />
        <result column="fname" property="fname" />
        <result column="heandpicture" property="heandpicture" />
        <result column="text" property="text" />
        <result column="message" property="message" />
        <result column="picture" property="picture" />
        <result column="publication" property="publication" />
        <result column="collections" property="collections" />
        <result column="likes" property="likes" />
        <result column="shares" property="shares" />
        <result column="remake1" property="remake1" />
        <result column="remake2" property="remake2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, fname, heandpicture, text, message, picture, publication, collections, likes, shares, remake1, remake2
    </sql>

    <!-- 多表联查 -->

    <resultMap id="forum" type="com.foottime.receptiodesk.dto.Forum_InformationDTO">
        <result property="text" column="uid"/>
        <result property="publication" column="favorite"/>
    </resultMap>

    <select id="forumselect" resultMap="forum">
        SELECT
            a.`text` ,a.`publication`
        FROM
            forum a,user c
        WHERE
            a.`uid`=c.`uid`
          AND c.`uid`=${id}
    </select>

</mapper>
