<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Goods">
        <id column="gid" property="gid"/>
        <result column="classify" property="classify"/>
        <result column="id" property="id"/>
        <result column="gtitle" property="gtitle"/>
        <result column="gdetails" property="gdetails"/>
        <result column="gmanufacturer" property="gmanufacturer"/>
        <result column="gtime" property="gtime"/>
        <result column="grice" property="grice"/>
        <result column="sales" property="sales"/>
        <result column="storeid" property="storeid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="remake2" property="remake2"/>
        <result column="remake3" property="remake3"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gid,classify,id,gtitle,gdetails,sales,storeid,gmanufacturer,gtime,grice,create_time,update_time,status,remake2,remake3,sales,storeid
    </sql>
    <resultMap id="chatListMap" type="com.foottime.receptiodesk.dto.ShowproductlistDTO">
        <result property="gid" column="gid"/>
        <result property="gtitle" column="gtitle"/>
        <result property="grice" column="grice"/>
        <result property="sales" column="sales"/>
        <result property="image" column="image"/>
        <result property="stname" column="stname"/>
    </resultMap>
    <select id="selectrecommend" resultMap="chatListMap">
        SELECT a.`gid`, a.`gtitle`, a.`grice`, a.`sales`, b.`stname`, c.`image`
        FROM goods a,
             shop b,
             sku c
        WHERE a.storeid = b.storeid
          AND a.`sales` > 100
          AND a.gid = c.`id`
        ORDER BY RAND()
        LIMIT 0,6

    </select>


    <select id="categoryQueries" resultMap="chatListMap">
        SELECT a.`gid`, a.`gtitle`, a.`grice`, a.`sales`, b.`stname`,c.`image`
        FROM goods a,
             shop b,
             sku c
        WHERE a.storeid = b.storeid
          AND a.`sales` > 1
          AND a.`gdetails` LIKE ${category}
          AND a.gid = c.`id`
        ORDER BY RAND()
        LIMIT 0,6
    </select>


    <resultMap id="goodsDetailsMap" type="com.foottime.receptiodesk.dto.ProductDetailsDTO">
        <result property="gid" column="gid"/>
        <result property="gtitle" column="gtitle"/>
        <result property="gdetails" column="gdetails"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="stname" column="stname"/>
        <result property="scture" column="scture"/>
        <result property="num" column="num"/>
        <result property="image" column="image"/>
        <result property="qid" column="id"/>
    </resultMap>

    <select id="productDetails" resultMap="goodsDetailsMap">
        SELECT
            a.`gid` ,a.`gtitle` ,a.`gdetails`,c.`stname` ,c.`scture` ,d.`id` ,d.`image` ,d.`name` ,d.`num` ,d.`price`
        FROM
            goods a,shop c,sku_attribute d
        WHERE
            a.`storeid`=c.`storeid`
          AND d.`gid`=a.`gid`
          AND a.`gid`=${id}

    </select>

</mapper>
