<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.HotimagesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Hotimages">
        <id column="imageid" property="imageid" />
        <result column="imageurl" property="imageurl" />
        <result column="creattime" property="creattime" />
        <result column="catid" property="catid" />
        <result column="type" property="type" />
        <result column="remake1" property="remake1" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        imageid, imageurl, creattime, catid, type, remake1
    </sql>

</mapper>
