<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Order">
        <id column="oid" property="oid" />
        <result column="ostatus" property="ostatus" />
        <result column="oprice" property="oprice" />
        <result column="otime" property="otime" />
        <result column="address" property="address" />
        <result column="remake1" property="remake1" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        oid, ostatus, oprice, otime, address, remake1
    </sql>

</mapper>
