<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.ShoucangMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.Shoucang">
        <id column="favorite" property="favorite" />
        <result column="uid" property="uid" />
        <result column="picture" property="picture" />
        <result column="text" property="text" />
        <result column="name" property="name" />
        <result column="collection" property="collection" />
        <result column="time" property="time" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        favorite, uid, picture, text, name, collection, time, price
    </sql>

</mapper>
