<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foottime.receptiodesk.mapper.SkuAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foottime.receptiodesk.entity.SkuAttribute">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="options" property="options" />
        <result column="sort" property="sort" />
        <result column="remake1" property="remake1" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, options, sort, remake1
    </sql>

</mapper>
